#nav-link {
    color: #f2174f;
    font-weight: bold;
    background-color: #eaefe9;
    display: inline;
}

.navbar {
    background-color: #eaefe9;
}

#nav-link:hover {
    color: white;
    background-color: #f2174f;
    border-radius: 20px
}